header{
    padding: 15px;
    margin-top: 30px;
    background: #dc143c;
    color: #ffffff;
}

footer{
    width: auto;
    padding: 15px;
    margin-top: 30px;
    background: #dc143c;
    color: #ffffff;
}

table th{
    background-color: #ffd1a3;
    padding: 10px 20px;
}

table td{
    background-color: #ffead6;
    padding: 10px 20px;
}

.notice {
    background-color: #ccf;
    padding: 5px;
}